/TP1/training-monolingual.tokenized.shuffled
/TP1/1bshort
.ipynb_checkpoints
.idea
/TP2/training-monolingual.tokenized.shuffled
/TP2/1bshort*
/TP2/heldout-monolingual.tokenized.shuffled*
/TP2/models
/TP3/*/archive
/TP4/training-monolingual.tokenized.shuffled